:root {
  --primary-color: #e62e6b;
  --secondary-color: #802b4a;
  --light-bg: #f9f9f9;
  --light-purple: #e3d5ed;
  --light-pink: #f8eaf4;
  --white: #FFFFFF;
  --text-dark: #000000;
  --border-radius: 8px;
  --border-radius-lg: 20px;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  --transition: all 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--light-bg);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-dark);
}

.contenido-principal {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #963661;
  position: fixed;
  padding: 0 2%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}

.logo img {
  width: 100%;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  font-size: 21px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin-right: 40px;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 8px 15px;
  transition: 0.3s;
}

nav ul li a:hover {
  background-color: var(--primary-color);
  color: white;
}

.logo-toggle {
  display: none;
}
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between; 
  width: 30px;
  height: 21px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.menu-toggle span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: white;
  transition: all 0.3s ease;
}

.menu-toggle.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}




.pie {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--text-dark);

  margin-top: 100px;
}

.contenedor-pie {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem 0;
}

.columna h2 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.columna ul {
  list-style: none;
}

.columna li {
  margin-bottom: 0.5rem;
}

.columna a {
  color: var(--text-dark);
  text-decoration: none;
  transition: var(--transition);
}

.columna a:hover {
  text-decoration: underline;
}

.derechos {
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1100;
  }

  .logo-toggle {
    display: inline-block;
    width: 25px;
    height: 25px;
     vertical-align: middle;
    margin-left: 10px;
  }


  .logo {
    display: none;
  }

  header {
    height: 80px;
    background-color: #963661;
  }


  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #963661;
    padding: 60px 20px;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    display: flex;
    align-items: flex-start;
  }

  nav.active {
    transform: translateX(0);
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    margin-bottom: 20px;
    border: 3px solid white;
    border-radius: none;
  }

  nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #963661;
    display: block;
    color: white;
    margin-left: 0;
    border-radius: 0;
    padding: none;
  }

}