body {
  background: #f9f9f9;
}

* {
  font-size: 25px;
}  

.contenedor-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.contenedor-up {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.bienvenida {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #e0d4ff;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

.text {
  margin-top: 20px;
  font-size: 20px;
}

.contenedor-down {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
}

.contenedor-left {
  display: flex;
  align-items: center;
}

.contenedor {
  max-width: 45rem;
  background-color: #eccceb;
  border-radius: 20px;
  padding: 20px;
}

.contenedor-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 820px) {
  .contenedor-general {
    margin-top: 0px;
  }

  .contenedor-down {
    flex-direction: column-reverse;
  }
}

/* --- Ajustes para m칩viles y tabletas --- */
@media (max-width: 768px) {
  /* Aumentar altura del cuadro morado */
  .nutrition {
    padding-bottom: 90px; /* Aumenta m치s si quieres m치s espacio */
    position: relative;
  }

  /* Colocar el info arriba del bot칩n Resetear */
  .nutrition .info {
    margin-top: 15px;
    display: block !important;
    order: 3;
  }
}
